<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include ('partials/header') %>
	<title>Perguntas e Respostas: Home</title>
</head>
<body>
	
	<%- include ('partials/navbar') %>

	<div class="container mb-2">
		<hr>
		<h2 class="mb-2"> Perguntas </h2>
		<hr>
		<a href="/create" style="font-size: 17px;"> Realize uma pergunta </a>
		<hr>
		<% perguntas.forEach(function(pergunta){ %>
			<div class="card mb-2">
				<div class="card-body">
					<h4 class="text-dark"><%=pergunta['id']%>: <%=pergunta['title']%></h4>
					
				</div>
				<div class="card-footer">
					<a class="btn btn-primary" href="/question/<%=pergunta['id']%>">Responder</a>
				</div>
				<!-- <p class="text-dark"><%=pergunta['description']%></p> -->
			</div>	
		<% }) %>
	</div>

	<%- include('partials/footer') %>

</body>
</html>